<div class="container">
    <h2>Ajout de produit</h2>
    <form method="POST" [formGroup]="model"
        (ngSubmit)="model.valid && onFormSubmit()">

        <!-- Nom du produit -->
        <input class="form-control" id="inputEmail" type="text" placeholder=""
        formControlName="name"
        [ngClass]="{
            'is-valid':model.get('name').valid && (model.get('name').touched||model.get('name').dirty),
            'is-invalid':model.get('name').invalid && (model.get('name').touched||model.get('name').dirty)
        }">
        <label for="inputEmail">Nom du produit</label>
        <div class="text-danger mt-2" *ngIf="model.get('name').invalid && (model.get('name').touched||model.get('name').dirty)">
            <span *ngIf="model.get('name').errors['required']">Le champ est obligatoire</span>
        </div>

        <!-- Description du produit -->
        <input class="form-control" type="text" placeholder=""
        formControlName="description"
        [ngClass]="{
            'is-valid':model.get('description').valid && (model.get('description').touched||model.get('description').dirty),
            'is-invalid':model.get('description').invalid && (model.get('description').touched||model.get('description').dirty)
        }">
        <label for="inputEmail">Description</label>
        <div class="text-danger mt-2" *ngIf="model.get('description').invalid && (model.get('description').touched||model.get('description').dirty)">
            <span *ngIf="model.get('description').errors['required']">Le champ est obligatoire</span>
        </div>

        <!-- Prix du produit -->
        <input class="form-control" type="text" placeholder=""
        formControlName="oldPrice"
        [ngClass]="{
            'is-valid':model.get('oldPrice').valid && (model.get('oldPrice').touched||model.get('oldPrice').dirty),
            'is-invalid':model.get('oldPrice').invalid && (model.get('oldPrice').touched||model.get('oldPrice').dirty)
        }">
        <label for="inputEmail">Prix</label>
        <div class="text-danger mt-2" *ngIf="model.get('oldPrice').invalid && (model.get('oldPrice').touched||model.get('oldPrice').dirty)">
            <span *ngIf="model.get('oldPrice').errors['required']">Le champ est obligatoire</span>
        </div>

        
        <div class="row">
            <!-- Quantite en stock du produit -->
            <div class="col-6">
                <input class="form-control" type="text" placeholder=""
                formControlName="qteStock"
                [ngClass]="{
                    'is-valid':model.get('qteStock').valid && (model.get('qteStock').touched||model.get('qteStock').dirty),
                    'is-invalid':model.get('qteStock').invalid && (model.get('qteStock').touched||model.get('qteStock').dirty)
                }">
                <label for="inputEmail">Quantité en stock</label>
                <div class="text-danger mt-2" *ngIf="model.get('qteStock').invalid && (model.get('qteStock').touched||model.get('qteStock').dirty)">
                    <span *ngIf="model.get('qteStock').errors['required']">Le champ est obligatoire</span>
                </div>
            </div>
            <!-- Quantite seuil du produit -->
            <div class="col-6">
                <input class="form-control" type="text" placeholder=""
                formControlName="qteSeuil"
                [ngClass]="{
                    'is-valid':model.get('qteSeuil').valid && (model.get('qteSeuil').touched||model.get('qteSeuil').dirty),
                    'is-invalid':model.get('qteSeuil').invalid && (model.get('qteSeuil').touched||model.get('qteSeuil').dirty)
                }">
                <label for="inputEmail">Quantité seuil</label>
                <div class="text-danger mt-2" *ngIf="model.get('qteSeuil').invalid && (model.get('qteSeuil').touched||model.get('qteSeuil').dirty)">
                    <span *ngIf="model.get('qteSeuil').errors['required']">Le champ est obligatoire</span>
                </div>
            </div>
        </div>

        <!-- Categorie du produit -->
        <select class="form-select" aria-label="Default select example"
        formControlName="categorie">
        <ng-container *ngIf="categories.length>0">
            <option *ngFor="let categorie of categories" value="{{categorie}}">{{categorie.name}}</option>
        </ng-container>    
          </select>
        <label for="inputEmail">Categorie</label>
        <br>
        <!-- Submit du produit -->
        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
            <a class="small" href="#"></a>
            <button class="btn btn-primary" type="submit" [disabled]="model.invalid" >Ajouter</button>
        </div>
    </form>
</div>
