<section class="h-50 " style="background-color: #eee;">
    <div class="container py-5 h-75">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
               <div class="row">
                 <div class="col-lg-7">
                  <h5 class="mb-3"><a href="#!" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Commandes du Client </a></h5>
                  <hr>
                   <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">{{user?.nomComplet}}</p>
                      <p class="mb-0">Vous avez {{commandes.length}} commande(s)</p>
                    </div>
                    <div>
                      <p class="mb-0"><span class="text-muted">
                        Du <input type="date" name="" id="" [(ngModel)]="start"> Au <input type="date" name="" id="" [(ngModel)]="end">
                      </span> </p>
                    </div>
                  </div>
                  <ng-container *ngIf="commandes.length>0; then haveComs else noComs"></ng-container>
                  <ng-template #haveComs>
                    <div class="card mb-3" *ngFor="let commande of commandes|dateFilter:start:end">
                      <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <div class="d-flex flex-row align-items-center">
                          
                            <div class="ms-3">
                              <h5>Commande du :{{commande.date}} <button type="button" class="btn btn-outline-warning" (click)="onComDetails(commande?.id)">Details</button></h5>
                              <p class="small mb-0">
                                <button type="button" class="btn " [ngClass]="{'btn-outline-success':commande.isPayed,'btn-outline-danger':!commande.isPayed}"
                                 [disabled]="commande.isPayed" style="margin-right:5px">
                                 <span *ngIf="!commande.isPayed"  (click)="onChangeStatus('payement',commande)">A Payer</span>
                                 <span *ngIf="commande.isPayed">Payé</span>
                                </button>

                                <button type="button" class="btn btn-outline-danger" [ngClass]="{'btn-outline-success':commande.isLivred,'btn-outline-danger':!commande.isLivred}"
                                [disabled]="commande.isLivred" (click)="onChangeStatus('livraison',commande)"
                                ><span *ngIf="!commande.isLivred">A Livrer</span><span *ngIf="commande.isLivred">Livré</span></button>
                              </p>
                            </div>
                          </div>
                          <div class="d-flex flex-row align-items-center">
                            <div style="width: 50px;">
                              <h5 class="fw-normal mb-0"></h5>
                            </div>
                            <div style="width: 120px;">
                              <h5 class="mb-0">{{commande.mntTotal|filter:"Euros"}}</h5>
                            </div>
                            <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template #noComs>
                    <span class="text-danger">Vous n'avez pas de commande actuellement :(</span>
                  </ng-template>
                  
                 </div>
                <div class="col-lg-5">
                   <div class="card bg-light text-dark rounded-3 h-100">
                    <div class="card-body" *ngIf="commandeId">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="mb-0">Details Commande</h5>
                            <img [src]="commandeId?.client?.avatar"
                              class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                          </div>
  

                       <div class="d-flex justify-content-between" *ngFor="let product of commandeId?.products">
                          <p class="mb-2">{{product.name}}</p>
                          <p class="mb-2">{{product.oldPrice}}</p>
                      </div>
                       
                       <div class="d-flex justify-content-between mb-4">
                        <p class="mb-2">Total (TTC)</p>
                        <p class="mb-2">{{commandeId?.mntTotal}}</p>
                      </div>
                       
                     </div>
                  </div>
                 </div>
               </div>
             </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 