<div class="container">
  <h1>Gestion de categories</h1>
  <form method="POST" [formGroup]="model"
    (ngSubmit)="model.valid && onFormSubmit()">
      <input class="form-control" id="inputEmail" type="text" placeholder=""
      formControlName="name"
      [ngClass]="{
        'is-valid':model.get('name').valid && (model.get('name').touched||model.get('name').dirty),
        'is-invalid':model.get('name').invalid && (model.get('name').touched||model.get('name').dirty)
      }">
      <label for="inputEmail">Nom de la categorie</label>
      <div class="text-danger mt-2" *ngIf="model.get('name').invalid && (model.get('name').touched||model.get('name').dirty)">
          <span *ngIf="model.get('name').errors['required']">Le champ est obligatoire</span>
      </div>

      <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
        <a class="small" href="#"></a>
        <button class="btn btn-primary" type="submit" [disabled]="model.invalid" >Ajouter</button>
      </div>
  </form>

  <table class="table table-striped mt-5">
    <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="categories.length>0">
          <tr *ngFor="let categorie of categories">
          <th scope="row">{{categorie.id}}</th>
          <td>{{categorie.name}}</td>
          <td>
            <a (click)="updateCat(categorie)"><button class="btn btn-primary">Modifier</button></a>                      
          </td>
        </tr>
        </ng-container>
        
      </tbody>
  </table>
</div>
