<div class="container"> 
    <h2>Listes des produits</h2>
    <table class="table table-striped mt-5">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Prix</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="products.length>0">
                <tr *ngFor="let product of products">
                <th scope="row">{{product.id}}</th>
                <td>{{product.name}}</td>
                <td>
                    <ng-container *ngIf="product.isSolde; then isSolde else notSolde"></ng-container>
                    <ng-template #isSolde>
                        {{product.newPrice}}
                    </ng-template>
                    <ng-template #notSolde>
                        {{product.oldPrice}}
                    </ng-template>
                </td>
                <td><img src="{{product.pathImg}}" length="50px" width="50px" alt=""></td>
                <td>
                    <a><button class="btn btn-primary">Details</button></a>                      
                </td>
                </tr>
            </ng-container>
            
        </tbody>
    </table>
</div>