<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <ng-container *ngIf="products.length>0">
            <div class="col mb-5" *ngFor="let product of products">
                <div class="card h-100">
                    <!-- Sale badge-->
                    <div *ngIf="product.isSolde" class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                    <!-- Product image-->
                    <img class="card-img-top" src="{{product.pathImg}}" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{product.name}}</h5>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            <span *ngIf="product.isSolde" class="text-muted text-decoration-line-through">{{product.oldPrice}}</span>
                            
                            <ng-container *ngIf="product.isSolde; then isSolde else notSolde"></ng-container>
                                <ng-template #isSolde>
                                    {{product.newPrice}}
                                </ng-template>
                                <ng-template #notSolde>
                                    {{product.oldPrice}}
                            </ng-template>

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="row">
                            <div class="text-center col-4"><a class="btn btn-sm btn-outline-dark"
                                routerLink="/product/details/{{product.id}}">Details</a></div>
                            <div class="text-center col-8"><a class="btn btn-sm btn-outline-dark" (click)="onAddToPanier(product)">Ajout panier</a></div>
                        </div>
                        
                    </div>
                </div>  
            </div>
            </ng-container>
        </div>
    </div>
 </section>